@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-color: #000; 
    --secondary-color-1: #e1e1e1; 
    --secondary-color-2: #f1f1f1;  
    --tertiary-color-1: #212529;
    --tertiary-color-2:#9D9C9C;
    --text-color: #FFFFFF;
    --accent-color-1: #00C98D; 
    --accent-color-2: #A9CD9E; 
    --accent-color-3: #9068E3; 
    --button-color-1: #0d6efd;
    --background-color-1:#52D7AF;
}

html, body {
    min-width:100%;
    height: 100%;
}

#app {
    font-family: 'Lora', serif;
}

main{
    min-height: 90vh;
}





